<div *ngIf="loadingDataStatus" class="loadingDataStatus">
    loading data...
</div>


<div class="poll-container" *ngFor="let item of POLLSLIST; index as i">
    <a (click)="selectedItem(item)">{{item.question}}</a>
    <section class="poll-inner poll-inner-1">
        <div class="polldetail-container" *ngIf="ItemSelect && this.ItemSelect._id.$oid==item._id.$oid">
            <app-polldetail [ItemSelected]="this.ItemSelect"></app-polldetail>
        </div>
    </section>

</div>

<!--
      <div>
          <form #Form1 = "ngForm" (ngSubmit)="addForm(Form1.value)">
              _id<input type="text" name="f1a" [ngModel]="f1a">
                 id <input type="text" name="f1b" [ngModel]="f1b">
                  name<input type="text" name="f1c"[ngModel]="f1c">
                  <button [disabled]="disabled" type="submit" class="btn btn-success">Add</button>
          </form>
      </div>
      -->
<div *ngIf="!loadingDataStatus">
    <button [disabled]="disabled" (click)="showPollAddtoogle()" class="btn btn-success">Add New poll</button>
</div>
<br>

<div *ngIf="questionAdd">

    <app-polladd (someEvent)="reset()"></app-polladd>
</div>